.video-section{
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex: 0.83;
    background-color: rgb(250, 250, 250);
    min-height: 100vh;
}
.recommended-heading{
    /* margin-left: 5px; */
    /* padding-bottom: 20px !important; */
    margin-bottom: 0px !important;
    font-size: xx-large;
    font-weight: 600;
    /* text-align: center; */
    width: fit-content;
    margin: auto;
    
}
.hp-heading{
    display: flex;
    /* background-color: rgb(240, 240, 240); */
    /* padding-bottom: 20px; */
    /* height: 50px; */
    justify-content: center;
    align-items: center;
}