.preview_channel {
    display: flex;
    width: 100%;
  }
  .channel {
    flex: 0.83;
  }
  .video-section {
    margin-left: 20px;
  }
  
  .channel_coverImg {
    width: 100%;
    height: 250px;
  }
  
  .channel_avatar {
    width: 80px !important;
    height: 80px !important;
    margin-right: 20px;
  }
  
  .channel_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(250, 250, 250);
  }
  
  .channel_avatarWrap {
    display: flex;
    align-items: center;
  }
  
  .channel_title {
    font-size: 26px !important;
    font-weight: normal !important;
  }
  
  .channel_content {
    height: 100%;
    overflow-y: auto;
    background-color: rgb(240, 240, 240);
    /* align-content: center; */
    padding-top: 20px;
  }
  
  .channel_detailsWrap {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
  }
  
  .channel_subBtn {
    height: 40px !important;
  }
  
  .channel_links {
    display: flex;
    width: 85%;
    /* margin-right: 300px; */
    margin-top: 20px;
    justify-content: space-between;
    /* justify-content: center; */
    position: sticky;
    top: 0px;
  }
  
  .channel_link > p {
    opacity: 0.5;
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;
  }
  
  .channel_link:hover > p {
    opacity: 1;
  }
  
  .channel_link-active {
    height: 20px;
  }
  .channel_link-active > p {
    opacity: 1 !important;
  }
  
  .channel_link_border {
    height: 2px;
    /* margin-top: 5px; */
    opacity: 0.6;
    background-color: #292727;
  }
  
  .channel_contentWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  
    margin: auto;
    /* margin-left: 140px; */
    /* padding-top: 20px; */
    padding-top: 0px;
  }
  
  /* .channel{
      overflow-y: scroll;
  } */