.liked_video_section{
    display: flex;
}
.liked_video_body{
    flex: 0.83;
}
.likedVideo{
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    /* flex: 0.83; */
    margin-top: 20px;
}
.liked_video_body > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

/* .liked_video_section{
        margin-left: 20px;
    } */
    
    /* /* styles for toggling sidebar  */
 .liked_video_body{
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex: 0.83;
        /* margin-left: 8rem;  */
    } 
    
    /* will update media queries later again with use of videocard.css//ayush/toggleNav-note*/
    @media (max-width:1151px){
        .liked_video_body{
            width: 100%;
            margin: 0;
            /* margin-left: 16rem; */
            
        }
    }
    @media (max-width:954px){
        .lliked_video_body{
            width: 100%;
            margin: 0;
            /* margin-left: 22rem; */
        }
    }
    @media (max-width:740px){
        .liked_video_body{
            width: 100%;
            margin: 0;
            /* margin-left: 14rem; */
        }
    }
    @media (max-width:606px){
        .liked_video_body{
            width: 100%;
            margin: 0;
            /* margin-left: 20rem; */
        }
    }

