.hp-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
  }
 .hp-header{
    cursor: pointer;
  }
  .hp-left-header {
    display: flex;
  }
  .hp-mid-header {
    display: flex;
    align-items: center;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 2px;
    width: 40%;
  }
  .hp-right-header {
    display: flex;
    /* padding: 2px; */
    align-items: center;
    padding: 0px;
  }
  .yt-logo {
    height: 25px;
    object-fit: contain;
    /* align-items: center; */
    margin-left: 10px;
  }
  .hp-mid-header > input{
    flex: 1;
    border: none;
    padding: 0px;
  }
  .searchicon{
    flex: 0.1;
    background-color: rgb(211, 206, 206);
  }
  .hp-right-header-icon{
    margin-right: 10px;
  }
