
.profile-body{
    text-align: center;
    flex: 0.83;
}
.profile_card{
    max-width: 300px;
    margin: auto;
    margin-top: 30px;
}
.body{
    display:flex
}
email_div{
    margin-top: 20px;
}
.profile-body{
    display:flex;
    justify-content: space-between;
    padding-left: 200px;
}
.profile-video-data{
    margin-right: 100px;
}
.profile-display{
    margin-top: 100px;
}