
.profile-body{
    text-align: center;
    flex: 0.83;
}
.profile_card{
    max-width: 300px;
    margin: auto;
    margin-top: 30px;
}
.body{
    display:flex
}
email_div{
    margin-top: 20px;
}
.profile-body{
    display:flex;
    justify-content: space-between;
    padding-left: 200px;
}
.profile-video-data{
    margin-right: 100px;
}
.profile-display{
    margin-top: 100px;
}
.profile-display img{
    object-fit: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
    
}

#channelIconContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#channelIconContainer button{
    border: none;
    color: blue;
    background-color: white !important;
    font-size: 16px;
}

.logo-input{
    outline: none;
}
.logo-input::-webkit-file-upload-button{
    visibility: hidden;
    outline: none;
}
.logo-input::before{
    margin-left: 21px;
    /* margin: 0 auto; */
     /*margin-top: 20px;
    margin-right: 70px; */
    content: "Change Channel Icon";
    color:blue;
    display: inline-block;
    /* background: #065fd4; */
    border-radius: 3px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    /* text-transform: uppercase; */
}

.logo-input:active{
    outline: 0;
}

.logo-input-delete{
    outline: none;
}
.logo-input-delete::-webkit-file-upload-button{
    visibility: hidden;
    outline: none;
}
.logo-input-delete::before{
    margin-left: -76px;
    /* margin: 0 auto; */
     /*margin-top: 20px;
    margin-right: 70px; */
    content: "Remove Channel Icon";
    color:blue;
    display: inline-block;
    /* background: #065fd4; */
    border-radius: 3px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    /* text-transform: uppercase; */
}

.logo-input-delete:active{
    outline: 0;
}