.watch{
    display: flex;
    justify-content: center;
    margin-top:20px;
    width: 100%;
    align-items: center;
}

.watch__wrap{
    display: flex;
}

.watch__left{
    display: flex;
    flex-direction: column;
    margin-right: 20px; 
    margin-left: 20px; 
}

.watch__video{
    width: 100%;
    outline: none;
}

.watch__leftBtn{
    margin-top:10px ;
    border-bottom: 1px solid #292929;
}
.watch__title{
    font-weight: 400;
    line-height: 2.4rem;
    font-size: 18px ;
}

.watch__videoInfo{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.title-and-autoplay{
    display: flex;
    justify-content: space-between;
}
.autoplay-paragraph{
    margin: 10px;
    /* color: #aaa; */
    color: #909090;
}
.next-video-icon{
    margin: 10px;
    /* font-size: 50px; */
    margin-right: 0px;
}
.autoplay-icon{
    margin: 10px;
}

.watch__likeBtnContainer{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
}


.watch__icon{
    margin-right: 5px;
    font-size: 28px !important;
}

.color--gray{
    color: #909090;
}

.watch__likeBtnContainer > p{
    /* color: #aaa; */
    color: #909090;
    font-weight: 500;
    font-size: 14px;

    /* to centralise  */
    margin-bottom: 0;
}

.watch__likeDislikes{
   display: flex;   
   /* background-color: #606060; */
   background-color: #909090;

   height: 2px;
   overflow: hidden;
   margin-top: 10px;
   position: relative;
}

.watch__videoInfoRight{
    display: flex;
    align-items: baseline;
}
.watch__likeWrap{
    display: flex;
    align-items: center;
}

.share-icon{
    transform: rotate(180deg) rotateX(180deg);
    font-size: 30px !important;
}

.play-addIcon{
    font-size: 28px !important;
}

.watch__right{
    max-height: 100%;
    overflow: hidden;
}
.watch__avatar{
   font-size: 30px !important;
}

.watch__details{
  margin-top: 20px;
  /* border-bottom: 1px solid #292929; */
  padding-bottom: 20px;
}

.watch__subCount{
    font-size: 13px;
}

.watch__avatarWrap{
    align-items: center;
}

.watch__description{
    max-width: 600px;
    margin-left: 50px;
    margin-top: 15px;
}

/* checkpoint --ayush */
.watch__description > p{
    font-size: 14px;
    word-spacing: 1px;
    line-height: 22px;
    max-height: 60px;
    overflow: hidden;
}

.watch__detailsContainer{
    display: flex;
    justify-content: space-between;
}

.watch__subBtn{
    background-color: #cc0000 !important;
}

.watch__subBtn_subbed{
    background-color: #aaa8a8 !important;
}

.watch__showMore{
    /* color: #aaa; */
    color: #909090;
    margin-top: 10px;
    font-weight: 500;
    cursor: pointer;
}


.videothumb__details {
    display: flex;
}

.videothumb__channel {
    margin-left: 10px;
}

.videothumb__title {
    font-size: 0.9rem;
    max-height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    font-weight: 500;
    letter-spacing: 0.1px;
}

.videothumb__text {
    font-size: 14px;
    /* color: #aaaaaa !important; */
    
}
/* centralising */
.videothumb__channel > h1 {
    font-size: 0.9rem;
    margin-bottom: 0;
}

.videothumb__details{
    display: flex;
    align-items: center;
}

.videothumb__text {
    font-size: 14px;
    /* color: #aaaaaa !important; */
    color: #909090 !important;
    margin-bottom: 0;
}

.watch-right{
    display: flex;
    flex-direction: column;
}

